[gcp_service_account]
type = "service_account"
project_id = "seu-projeto-id"
private_key_id = "sua-chave-id"
private_key = "sua-chave-privada"
client_email = "conta@seu-projeto.iam.gserviceaccount.com"
client_id = "seu-client-id"
auth_uri = "https://accounts.google.com/o/oauth2/auth"
token_uri = "https://oauth2.googleapis.com/token"

[app]
environment = "development"
debug = false
